* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #000; */
  padding: 10px 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
}

/* Hide the nav links by default on mobile */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .menu-toggle {
    display: flex;
  }

  /* Display nav when active class is added */
  .nav-links.active {
    display: flex;
  }
}
